body {
    background-color: rgb(43, 43, 43);
}

.jumbotron {
    text-align: center;
    justify-content: center;
    border: 3px solid teal;
    color: white; 
    margin: 30px;
}

#infoForm {
    text-align: center;
    justify-content: center;
    border: 2px solid teal; 
    margin: 30px;
    color: white; 
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}