body {
    background-color: rgb(43, 43, 43);
}

.jumbotron {
    text-align: center;
    justify-content: center;
    border: 3px solid teal;
    color: white; 
    margin: 30px;
}

.infoForm {
    text-align: center;
    justify-content: center;
    border: 2px solid teal; 
    margin: 30px;
    color: white; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 30px;
    border: 2px solid black;
    padding: 20px; 
}